*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code related
.vscode/
!.vscode/extensions.json

**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android - Cấu hình cục bộ
/android/local.properties
/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release
*.apk
*.aar
*.ap_
*.aab

# iOS - Cấu hình cục bộ 
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id
*.xcworkspace
!ios/Runner.xcworkspace
Pods/
Podfile.lock
.symlinks/

app.*.symbols
app.*.map.json

.env
*.env
.env.*
!*.env.example
